table td {
    text-align: center;
}

table th {
    text-align: center;
}

table td a {
    display: block;
    width: 100%;
    color: black;
}
table td a:hover {
    color: white !important;
    font-weight: bold;
}
table td.free:hover {
    background-color: #006dcc;
    color: white;
}
table td.success {
    background-color: #5cb85c !important;
    color: black;
}
table td.busy {
    background-color: #d4d4d4 !important;
    color: black;
}
table td.busy td.past {
    background-color: #d4d4d4 !important;
    color: black;
    font-weight: bold;
}
table td.past {
    background-color: #d4d4d4 !important;
    color: black;
}
table td.busy td.next {
    background-color: #d4d4d4 !important;
    color: black;
    font-weight: bold;
}
table td.next {
    background: white;
    font-weight: bold;
}
table td.prev {
    background: white;
    font-weight: bold;
}

div .color-box-busy {
    border: 1px solid;
    width: 2em;
    height: 1.5em;
    display: inline-block;
    background-color: #d4d4d4;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
div .color-box-avail {
    border: 1px solid;
    width: 2em;
    height: 1.5em;
    display: inline-block;
    background-color: white;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
