.post-content {
    top: 70px;
    left: 10%;
    position: absolute;
    font-size: x-large;
}

.header-image {
    background: url('img/london-skyline-isolated.png') no-repeat center center;
    background-size: cover;
    margin-bottom: 0.5%;
}

.header-content {
    font-size: xx-large;
}

.footer-buffer {
    margin-top: 1%;
}
